In [18]:
import pandas as pd 
import numpy as np

In [19]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
sub = pd.read_csv('csv/submissions_data_train.csv')

In [21]:
event = pd.read_csv('csv/event_data_train.csv')

In [22]:
event.head(10)

   step_id   timestamp           action  user_id
0    32815  1434340848           viewed    17632
1    32815  1434340848           passed    17632
2    32815  1434340848       discovered    17632
3    32811  1434340895       discovered    17632
4    32811  1434340895           viewed    17632
5    32811  1434340895           passed    17632
6    32929  1434340921       discovered    17632
7    32929  1434340921           viewed    17632
8    32929  1434340939  started_attempt    17632
9    32929  1434340944           passed    17632

In [23]:
event.action.unique()

array(['viewed', 'passed', 'discovered', 'started_attempt'], dtype=object)

In [25]:
event.user_id.nunique()

19234

#1 Counts of users

In [30]:
event['time'] = pd.to_datetime(event.timestamp, unit='s')

In [32]:
event.head()

   step_id   timestamp      action  user_id                time
0    32815  1434340848      viewed    17632 2015-06-15 04:00:48
1    32815  1434340848      passed    17632 2015-06-15 04:00:48
2    32815  1434340848  discovered    17632 2015-06-15 04:00:48
3    32811  1434340895  discovered    17632 2015-06-15 04:01:35
4    32811  1434340895      viewed    17632 2015-06-15 04:01:35

In [33]:
event.time.min()

Timestamp('2015-06-15 04:00:48')